<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action="/" method="post">
      <fieldset>
        <label name="username">Username: </label>
        <input name="username" type="text" placeholder="username">
        <label name="password">Password: </label>
        <input name="password" type="text" placeholder="password">
        <input type="submit">
      </fieldset>
  </body>
</html>
